.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  padding: 28px 28px 36px;
  position: relative;
  max-width: 496px;
  max-height: 436px;
  border-radius: 20px;
  font-family: "CabinetGrotesk-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
}

.modal__close {
  background-image: url(../../assets/close.svg);
  background-size: cover;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.modal__label_type_radio {
  padding: 0;
  flex-direction: row;
  gap: 8px;
  color: #00000080;
}

.modal__input {
  width: 440px;
  height: 24px;
  padding: 8px 0 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.modal__input::placeholder {
  color: #00000080;
}

.modal__input_type_radio {
  width: 16px;
  height: 16px;
}

.modal__input_type_radio:checked ~ span {
  color: #000;
}

.modal__radio-buttons {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  accent-color: #000;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__submit {
  margin-top: 32px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  line-height: 20px;
}

.modal__submit:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__alternate-link {
  border: none;
  background: none;
  padding: 0 0 0 12px;
  color: #00000080;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal__content {
    max-width: 90%;
    max-height: 90vh;
    padding: 20px 20px 28px;
    margin: 20px;
    overflow-y: auto;
  }

  .modal__input {
    width: 100%;
    max-width: 100%;
  }

  .modal__title {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .modal__close {
    top: 16px;
    right: 20px;
  }
}