.cards {
    font-family: "CabinetGrotesk-Bold", "Arial", sans-serif;
    font-weight: 700;
  }
  
  .cards__text {
    margin: 0;
    padding: 40px 0 34px;
    font-size: 20px;
  }
  
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .card {
    position: relative;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card__title {
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15px;
    font-family: "CabinetGrotesk-Bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #00000099;
  }
  
  .card__title_type_background {
    background-color: #fff;
    padding: 2px 12px;
  }
  
  .card__image {
    width: 325px;
    height: 328px;
    border: solid rgba(0, 0, 0, 0.3) 1px;
    border-radius: 20px;
    box-sizing: border-box;
  }