.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  padding: 0;
  overflow: hidden;
}

.modal__close_type_image {
  top: 24px;
  right: 24px;
}

.modal__image {
  width: 100%;
  height: 100%;
}

.modal__footer {
  margin: 20px 0 32px 32px;
  font-family: "CabinetGrotesk-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.modal__caption {
  margin: 0 0 12px;
}

.modal__weather {
  margin: 0;
}