/* header avatar */
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  /* header avatar w/ 1st letter of 1st name */
  .avatar__default {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  
  /* side bar avatar */
  .avatar.side-bar__avatar {
    width: 56px;
    height: 56px;
  }
  
  /* side bar avatar w/ 1st letter of 1st name; parent selector used to make avatar size for avatar w/ no image provided */
  .side-bar__user-info:has(.avatar) .avatar {
    width: 56px;
    height: 56px;
    font-size: 40px;
  }