.clothes-section__text {
  display: flex;
  gap: 20px;
}

.clothes-section__btn {
  border: none;
  background: none;
  color: #00000099;
  padding: 0;
  margin: 0;
}

.clothes-section__btn:hover {
  cursor: pointer;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .clothes-section__text {
    flex-wrap: wrap;
    gap: 12px;
  }

  .clothes-section__list {
    gap: 12px;
    justify-content: center;
  }
}